.pai {
    max-width: 800px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filho1 {
    background-color: brown;
    border: 1px solid black;
    margin: 5px;
}

.filho2 {
    width: 20%;
    height: 99%;
    background-color: brown;
    border: 1px solid black;
    margin: 5px;
}

.filho3 {
    width: 20%;
    height: 99%;
    background-color: brown;
    border: 1px solid black;
    margin: 5px;
}

.filho1,
.filho2,
.filho3,
div p {
    color: aliceblue;
}