.pai {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

.filho1 {
    width: 20%;
    height: 99%;
    background-color: brown;
    border: 1px solid black;
}

.filho2 {
    ] width: 20%;
    height: 99%;
    background-color: brown;
    border: 1px solid black;
}

.filho3 {
    width: 20%;
    height: 99%;
    background-color: brown;
    border: 1px solid black;
}